body {
    background: #d0a891;
}

img {
    vertical-align: middle;
}

input::-webkit-input-placeholder {
    color: #dd4343;
    font-size: 0.26rem;
    text-align: center;
}

@mixin center {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.t10 {
    margin-top: 0.1rem;
}

.wrapBox {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    li {
        width: 100%;
        position: relative;
        img {
            width: 100%;
        }
        .areaOne {
            position: relative;
            margin-top: 0.1rem;
            width: 7.3rem;
            height: 8.33rem;
            margin: auto;
            .act_person {
                position: absolute;
                width: 3.936rem;
                top: 2.2rem;
                right: 0;
                opacity: 0;
            }
            .act_headImg {
                width: 1.75rem;
                position: absolute;
                right: 0.3rem;
                bottom: 0.3rem;
                opacity: 0;
            }
            .act_line {
                position: absolute;
                right: 2.08rem;
                bottom: 0.4rem;
                width: 1.54rem;
                opacity: 0;
            }
            .act_title {
                top: 0.7rem;
                width: 4rem;
                @include center;
                 transform: translateY(-1rem);
        opacity: 0;
            }
            .act_small_title {
                width: 2.88rem;
                top: 1.4rem;
                @include center;
                opacity: 0;
            }
            .wordList {
                position: absolute;
                top: 2.54rem;
                left: 0.34rem;
                width: 4rem;
                li {
                    position: relative;
                    height: 1.2rem;
                    width: 100%;
                    margin-top: 0.6rem;
                    &:nth-child(1) {
                        margin-top: 0;
                    }
                    img {
                        transform: translateX(-1rem);
                        opacity: 0;
                        position: absolute;
                        left: 0;
                        top: 0;
                        &:nth-child(2) {
                            position: absolute;
                            left: 0;
                            top: 0.56rem;
                        }
                    }
                }
            }
        }
        // 3
        .act_gua {
            width: 7.3rem;
            height: 3.61rem;
            margin: auto;
            .act_gua_bg {
                width: 100%;
                margin-top: -0.31rem;
                opacity: 0;
            }
            .act_gua_txt {
                width: 6.73rem;
                @include center;
                top: 0.76rem;
                opacity: 0;
            }
        }
        // 4
        .formBox {
            position: relative;
            padding-top: 0.1rem;
            width: 7.3rem;
            margin: auto;
            .tagBox {
                position: absolute;
                right: 0;
                top: -0.22rem;
                height: 0.71rem;
                width: 100%;
                img {
                    position: absolute;
                    right: 0.34rem;
                    bottom: 0;
                    &:nth-child(2) {
                        right: 0.12rem;
                    }
                    &:nth-child(3) {
                        right: 0.75rem;
                    }
                }
            }
            .f_title {
                width: 4.26rem;
                top: 1.1rem;
                @include center;
            }
            .f_tell {
                width: 0.85rem;
                right: 0.66rem;
                position: absolute;
                top: 1.52rem;
            }
            .content {
                position: absolute;
                left: 0;
                width: 100%;
                top: 1.78rem;
                p {
                    text-align: center;
                    color: #80563E;
                    font-size: 0.18rem;
                    span {
                        color: #DD4343;
                    }
                }
            }
            .forms {
                @include center;
                top: 2.4rem;
                width: 6.56rem;
                height: auto;
                margin: auto;
                li {
                    position: relative;
                    height: 0.98rem;
                    width: 100%;
                    border-radius: 0.98rem;
                    overflow: hidden;
                    border: 0.02rem solid #DD4343;
                    margin-top: 0.3rem;
                    .phoneAdd{
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 1.38rem;
                        text-align: right;
                        height: 100%;
                        line-height: 0.96rem;
                        color: #DD4343;
                        font-size: 0.26rem;
                        img{
                            width: 0.26rem;
                            position: absolute;
                            left: 105%;
                            top:0.35rem ;
                        }                       
                    }
                    input {
                        background: transparent;
                        border: none;
                        outline: none;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        font-size: 0.26rem;
                        color: #dd4343;
                        padding-left: 0.4rem;
                    }
                    &:nth-child(3) {
                        background: #DD4343;
                        color: #fff;
                        text-align: center;
                        line-height: 0.96rem;
                        font-size: 0.24rem;

                        letter-spacing: 0.01rem;
                        font-weight: bold;
                        cursor: pointer;
                    }
                    &:nth-child(4) {
                        border: 0;
                        text-align: center;
                        color: #896853;
                        font-size: 0.22rem;
                        span {
                            color: #ff2a00;
                            margin-top: -0.1rem;
                        }
                    }
                }
            }
        }
        .sloganBox {
            width: 100%;
            height: 1.46rem;
            position: relative;
            background: -webkit-linear-gradient(#ff6363, #dd4343);
            background: -o-linear-gradient(#ff6363, #dd4343);
            background: -moz-linear-gradient(#ff6363, #dd4343);
            background: linear-gradient(#ff6363, #dd4343);
            ul {
                width: 100%;
                height: 100%;
            }
            li {
                float: left;
                width: 10%;
                height: 100%;
                margin-top: 0.35rem;
            }
            .dou {
                top: 0.72rem;
                width: 4.45rem;
                @include center;
                opacity: 0;
            }
        }
        .banner {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 3.93rem;
            .tag {
                height: 0.62rem;
                width: 4rem;
                margin: auto;
                img {
                    width: 100%;
                    margin-top: 0.4rem;
                }
            }
        }
        .stepBox {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 9.31rem;
            .title {
                width: 6.08rem;
                top: 0.6rem;
                @include center;
            }
            .two {
                position: absolute;
                left: 0.32rem;
                top: 1.52rem;
                width: 2.14rem;
            }
            .stepList {
                width: 4.27rem;
                height: 1.75rem;
                top: 1.74rem;
                right: 0.3rem;
                position: absolute;
                .lis {
                    width: 0.24rem;
                    position: absolute;
                    left: 0.09rem;
                }
            }
            .setpImg {
                position: absolute;
                right: 0;
                top: 3.9rem;
                width: 100%;
            }
            .act_gua_img {
                width: 2.57rem;
                position: absolute;
                left: -0.16rem;
                top: 3.9rem;
            }
        }
        .addBox {
            width: 100%;
            height: 2.4rem;
            padding-top: 0.2rem;
            li {
                margin-top: 0.2rem;
                padding: 0 0.24rem;
                height: 0.45rem;
            }
        }
        .act_nurse {
            width: 2.72rem;
            position: absolute;
            right: 0.12rem;
            bottom: -0.2rem;
        }
        .copyright {
            height: 0.98rem;
            width: 3.8rem;
            margin: 0.26rem auto 0;
        }
    }
}

#banner {
    position: relative;
    width: 100%;
    height: 3.3rem;
    overflow: hidden;
    .nav {
        width: 0.22rem;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}

#banner .swiper-slide img {
    width: 5.6rem;
    @include center;
    top: 0;
    bottom: 0;
}

//-----------------------------
//animations
//one
@keyframes oneActTitle {
    0% {
        transform: translateY(-1rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.actOnego .oneActTitle {
    animation: oneActTitle 0.5s linear forwards;
}

@keyframes oneActSmall {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    70% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.actOnego .oneActSmall {
    animation: oneActSmall 0.5s linear 0.4s forwards;
}

@keyframes oneActPerson {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.actOnego .oneActPerson {
    animation: oneActPerson 0.3s linear 0.4s forwards;
}

@keyframes oneActWord {
    0% {
        opacity: 0;
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

$wordLen:0.2s;
$wordStart:0.5s;
$wordAdd:0.2s;
$wordDelay:$wordStart+$wordAdd;
@for $i from 1 through 3{
    .actOnego .oneActWord#{$i} {
        animation: oneActWord $wordLen linear $wordStart+($wordAdd*$i)-$wordAdd forwards;
    }
}

@keyframes oneActLine {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.7;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

.actOnego .oneActLine {
    animation: oneActLine 0.3s linear 1.2s forwards;
}

@keyframes opLinear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.actOnego .oneActGua {
    animation: opLinear 0.4s linear 0.4s forwards;
}

.actOnego .oneActGua2 {
    animation: opLinear 0.4s linear 0.8s forwards;
}

//------------
//two
@keyframes twoOpLoop {
    0% {
        opacity: 0.6;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.6;
    }
}

$tagAdd:0.3s;
@for $i from 1 through 3 {
    .actTwogo .twoOpLoop#{$i} {
        animation: twoOpLoop 1.6s linear forwards ($tagAdd*$i)-$tagAdd infinite;
    }
}

@for $i from 1 through 3 {
    .actFourgo .twoOpLoop#{$i} {
        animation: twoOpLoop 1.6s linear forwards ($tagAdd*$i)-$tagAdd infinite;
    }
}

@keyframes twoActTitle {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-3deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(4deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.actTwogo .twoActTitle {
    animation: twoActTitle 1.6s linear 0s forwards;
}

.actFourgo .twoActTitle {
    animation: twoActTitle 1.6s linear 0s forwards;
}

@keyframes twoActTell {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(0.78);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(0.85);
    }
    100% {
        transform: scale(1);
    }
}

.actFourgo .twoActTell {
    animation: twoActTell 1.6s linear 0s forwards;
}

.actTwogo .twoActTell {
    animation: twoActTell 1.6s linear 0s forwards;
}

@keyframes twoActBtn {
    0% {
        opacity: 1;
    }
    17% {
        opacity: 0.5;
    }
    34% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    67% {
        opacity: 1;
    }
    84% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

.actTwogo .twoActBtn {
    animation: twoActBtn 0.6s linear 1.6s forwards;
}

.actFourgo .twoActBtn {
    animation: twoActBtn 0.6s linear 1.6s forwards;
}

@keyframes twoActslogan {
    0% {
        transform: scale(1) translateY(0);
    }
    50% {
        transform: scale(0.53) translateY(0);
    }
    100% {
        transform: scale(0.53) translateY(-0.46rem);
    }
}

.actTwogo .twoActslogan {
    animation: twoActslogan 1s linear 0.3s forwards;
}

.actFourgo .twoActslogan {
    animation: twoActslogan 1s linear 1.6s forwards;
}

.actTwogo .twoActdou {
    animation: opLinear 0.2s linear 1.3s forwards;
}

.actFourgo .twoActdou {
    animation: opLinear 0.2s linear 2.4s forwards;
}

//-------
//three
.actThreego .twoActTitle {
    animation: twoActTitle 1.6s linear 0s forwards;
}

@keyframes threeActLis {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

$tagAdd:0.3s;
$stepDelay:1.6s;
@for $i from 1 through 4 {
    .actThreego .threeStepLis#{$i} {
        animation: threeActLis 0.4s linear $stepDelay+($tagAdd*$i)-$tagAdd forwards;
    }
}

@keyframes threeActsetpImg {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.actThreego .threeActsetpImg {
    transform-origin: 1.03rem 0.26rem;
    animation: threeActsetpImg 0.6s linear 2s forwards;
}

@keyframes threeActNurse {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(6deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.actThreego .threeActNurse {
    transform-origin: 1.36rem 100%;
    animation: threeActNurse 0.6s linear 2.6s forwards;
}

@keyframes threeActNum {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.actThreego .threeActNum {
    animation: threeActNum 0.6s linear 3.2s forwards;
}

.actThreego .threeActCon1 {
    animation: twoActTitle 0.6s linear 3.8s forwards;
}

@keyframes threeActCon2 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.7);
    }
    100% {
        transform: 1;
    }
}

.actThreego .threeActCon2 {
    animation: threeActCon2 0.6s linear 4.4s forwards;
}